.App {
  background-color: #f4f4f4;
  height: 100vh;
}


header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 400;
  padding: 10px 0;
  box-sizing: border-box;
  height: 10vh;


  cursor: pointer;
  color: #ffffff;
  background-color: rgb(42, 42, 42);
}



