.anime-card {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    gap:3px;

    border: 1px solid #ccc;
    background-color: rgb(29, 29, 29);
    color: white;
    box-sizing: border-box;
}
